@page
@model ClinicWebCore.Pages.Contacts.IndexModel

@{
    ViewData["Title"] = "Контакти";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Контакти</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].Email)
            </th>
            <th>
                Address
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].Birthday)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Contact) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Model.GetAddressToString(item.Address.AddressID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>

            <td>
                <a asp-page="./Edit" asp-route-id="@item.ContactID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ContactID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ContactID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
