@page
@model ClinicWebCore.Pages.Patients.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                FIO
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].MedicalHistoryRegistoreNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Patient) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Contact.LastName) @Model.GetInitials(item.Contact.FirstName, item.Contact.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicalHistoryRegistoreNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PatientID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PatientID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PatientID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
