@page
@model ClinicWebCore.Pages.DocSchedules.EditModel

@{
    ViewData["Title"] = "Розклад лікаря";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Розклад лікаря</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DocSchedule.DocScheduleID" />
            <div class="form-group">
                <label class="control-label">PatientAndMedicalHistory</label>
                <label>@Model.GetPatientFIO(this.Model.DocSchedule.PatientID) @Model.GetMedicalHistory(this.Model.DocSchedule.PatientID)</label>
                @*<label asp-for="DocSchedule.PatientID" class="control-label"></label>
                <select asp-for="DocSchedule.PatientID" class="form-control">
                    <option value="DocSchedule.PatientID">@Model.GetPatientFIO(this.Model.DocSchedule.PatientID)</option>
                    @foreach (var item in Model.Patient)
                    {
                        <option value="@item.PatientID">
                            @Model.GetPatientFIO(item.PatientID)
                        </option>
                    }

                </select>*@
                <span asp-validation-for="DocSchedule.PatientID" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DocSchedule.IsVisitPatient"/> @Html.DisplayNameFor(model => model.DocSchedule.IsVisitPatient)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DocSchedule.DocID" class="control-label"></label>
                <select asp-for="DocSchedule.DocID" class="form-control">
                    <option value="DocSchedule.DocID">@Model.GetDocFIO(this.Model.DocSchedule.DocID)</option>
                    @foreach (var item in Model.Doc)
                    {
                        <option value="@item.DocID">
                            @Model.GetDocFIO(item.DocID)
                        </option>
                    }

                </select>
                <span asp-validation-for="DocSchedule.DocID" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="DocSchedule.StartAppointmentAt" class="control-label"></label>
                <input asp-for="DocSchedule.StartAppointmentAt" class="form-control" />
                <span asp-validation-for="DocSchedule.StartAppointmentAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocSchedule.FinishAppointmentAt" class="control-label"></label>
                <input asp-for="DocSchedule.FinishAppointmentAt" class="form-control" />
                <span asp-validation-for="DocSchedule.FinishAppointmentAt" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
